body {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 62px;
}

.card {
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0 0 4px #aaaaaa;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn {
    border-color: #c1c1c1;
    background-color: #e1e1e1;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.btn:hover {
    border-color: #b1b1b1;
    background-color: #d1d1d1;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group button {
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #e1e1e1;
}

.form-group button:hover {
    background-color: #dfdfdf;
}

.form-group.submit-btn {
    margin-top: 32px;
}

.form-group input {
    border: solid 1px #e1e1e1;
    height: 40px;
    border-radius: 6px;
    padding: 0 8px;
}

.form-group input.has-error {
    border-color: red;
}

.form-group input.has-error + span {
    display: block;
}

.form-group span {
    display: none;
    color: red;
    font-size: 12px;
}

